body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(241, 233, 233);
}

form {
    text-align: center;
    background-color: white;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.466);
}

#MyText {
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
    border: 2px solid black;
    font-size: 1.5em;
}

label {
    font-size: 1.2em;
    font-weight: bold;
}

button {
    border: none;
    background-color: red;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color .5s ease;
}

button:hover {
    background-color: darkred;
}

p {
    font-size: 1.5em;
    font-weight: bold;
}